<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css"/>
	
	<title>About</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>oh my gosh it's: {{name}}</p>
		<img 
			class="portrait" 
			src="./images/robot.png" 
			alt="a picture of andrew med (course instructor)"
		/>

		<p>This website was created by Sibusiso Dlamini. All it does is take data from <a> mapbox.com </a> and <a> weatherstack.com </a> and render the result on the home screen. Simple but effective ;) </p>
	</div>
	{{>footer}}
</body>
</html>